---
import Form from "components/Form.astro";
---

<section id="contact" class="relative py-8 px-4 text-custom-dark z-10">
  <div class="container mx-auto flex flex-col gap-8">
    <h2 class="text-3xl font-bold text-center">Cont치ctanos</h2>

    <p class="text-center">
      쯊ienes alguna pregunta o deseas m치s informaci칩n sobre nuestros
      tratamientos? Nuestro equipo est치 aqu칤 para ayudarte. D칠janos tu mensaje y
      te responderemos lo antes posible.
    </p>

    <div class="grid md:grid-cols-2 gap-8">
      <Form />

      <div class="flex flex-col">
        <h3 class="text-5xl font-semibold mb-4">Ubicaci칩n y Contacto</h3>
        <p class="mb-4">
          游늸 <strong>Direcci칩n:</strong> Calle de la Salud, 45, 28013 Madrid, Espa침a
        </p>
        <p class="mb-4">
          游 <strong>Tel칠fono:</strong>
          <a
            href="tel:+34123456789"
            class="text-custom-secondary hover:underline">+34 123 456 789</a
          >
        </p>
        <p class="mb-4">
          九괦잺 <strong>Email:</strong>
          <a
            href="mailto:info@clinicabelleza.com"
            class="text-custom-secondary hover:underline"
            >info@clinicabelleza.com</a
          >
        </p>
        <p class="mb-4">
          游 <strong>Horario:</strong> Lunes - Viernes: 9:00 - 18:00
        </p>

        <div class="mt-16">
          <iframe
            class="w-full h-64 rounded-lg shadow-md"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.9171532392287!2d-3.7063802846061736!3d40.41809487936339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287f349c8f89%3A0x37e97948bc0e5ab1!2sCalle%20de%20la%20Salud%2C%2045%2C%2028013%20Madrid%2C%20Espa%C3%B1a!5e0!3m2!1ses!2ses!4v1234567890"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
