---

---

<div
  class="fixed bottom-0 left-0 w-full bg-custom-dark shadow-lg p-4 flex flex-col gap-4 md:flex-row md:items-center md:justify-center z-50 text-base"
>
  <div class="text-custom-light">
    Este sitio web utiliza cookies para garantizar que obtengas la mejor
    experiencia en nuestro sitio web.
    <a
      href="/cookies"
      class="underline text-custom-primary hover:opacity-85 font-medium"
    >
      Leer más
    </a>
  </div>
  <button
    class="bg-custom-primary hover:opacity-85 text-custom-dark font-medium py-2 px-4 rounded-2xl"
  >
    Aceptar
  </button>
</div>
