---

---

<section id="info" class="py-16 text-custom-dark">
  <div class="container mx-auto px-4 sm:px-0">
    <h2 class="text-center text-4xl font-semibold mb-10">
      Información sobre la Salud de la Piel
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div
        class="text-center bg-white p-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out cursor-pointer hover:translate-y-[-10px] hover:shadow-[0_10px_20px_rgba(0,_0,_0,_0.1)]"
      >
        <i class="text-primary text-4xl mb-4 fas fa-sun"></i>
        <h3 class="text-xl font-semibold mb-2">Cuidado Diario</h3>
        <p class="text-gray-700">
          Recuerda limpiar tu piel cada día con productos adecuados para tu tipo
          de piel y protegerla de los daños solares.
        </p>
      </div>
      <div
        class="text-center bg-white p-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out cursor-pointer hover:translate-y-[-10px] hover:shadow-[0_10px_20px_rgba(0,_0,_0,_0.1)]"
      >
        <i class="text-primary text-4xl mb-4 fas fa-heart"></i>
        <h3 class="text-xl font-semibold mb-2">Hidratación</h3>
        <p class="text-gray-700">
          Beber suficiente agua y aplicar cremas hidratantes ayuda a mantener tu
          piel suave y libre de sequedad.
        </p>
      </div>
      <div
        class="text-center bg-white p-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out cursor-pointer hover:translate-y-[-10px] hover:shadow-[0_10px_20px_rgba(0,_0,_0,_0.1)]"
      >
        <i class="text-primary text-4xl mb-4 fas fa-thermometer-half"></i>
        <h3 class="text-xl font-semibold mb-2">Protección Solar</h3>
        <p class="text-gray-700">
          Usa protector solar diariamente para evitar el envejecimiento
          prematuro de la piel y prevenir el riesgo de cáncer de piel.
        </p>
      </div>
      <div
        class="text-center bg-white p-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out cursor-pointer hover:translate-y-[-10px] hover:shadow-[0_10px_20px_rgba(0,_0,_0,_0.1)]"
      >
        <i class="text-primary text-4xl mb-4 fas fa-calendar-check"></i>
        <h3 class="text-xl font-semibold mb-2">Revisión Regular</h3>
        <p class="text-gray-700">
          Realiza chequeos periódicos con tu dermatólogo para detectar posibles
          problemas de piel a tiempo.
        </p>
      </div>
    </div>
  </div>
</section>
