---
import Footer from "components/Footer.astro";
import Header from "components/Header.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
  </head>
  <body class="m-0 w-dvw h-dvh bg-custom-dark relative">
    <Header />
    <main class="bg-white">
      <slot />
    </main>
    <Footer />
  </body>
</html>
